<script context="module" lang="ts">
	export const prerender = true;
</script>

<script lang="ts">
	import Divider from '$lib/components/Divider.svelte';

	import Hero from '../lib/landing-page/Hero.svelte';
	import Stakes from '../lib/landing-page/Stakes.svelte';
	import Useful from '../lib/landing-page/Useful.svelte';
</script>

<svelte:head>
	<title>Stagnation Lab</title>
</svelte:head>

<!-- Subpages -->
<Hero />
<Stakes />
<Divider />
<Useful />
<Divider />

<!-- Subpages -->
<style>
</style>
