<script lang="ts">
	import { page } from '$app/stores';
	import logo from './sl-logo.svg';
</script>

<header>
	<div class="corner">
		<a href="/">
			<img src={logo} alt="Stagnation Lab" />
			<h2>Stagnation Lab</h2>
		</a>
	</div>

	<nav>
		<!-- <svg viewBox="0 0 2 3" aria-hidden="true">
			<path d="M0,0 L1,2 C1.5,3 1.5,3 2,3 L2,0 Z" />
		</svg> -->
		<ul>
			<li class:active={$page.path === '/tehtud-tood'}>
				<a sveltekit:prefetch href="/tehtud">Tehtud tööd</a>
			</li>
			<li class:active={$page.path === '/liitu-meiega'}>
				<a sveltekit:prefetch href="/liitu-meiega">Liitu meiega</a>
			</li>
			<li class:active={$page.path === '/kontakt'}>
				<a sveltekit:prefetch href="/kontakt">Kontakt</a>
			</li>
			<li class="cta-nav" class:active={$page.path === '/vota-uhendust'}>
				<a sveltekit:prefetch href="/vota-uhendust">Võta ühendust</a>
			</li>
		</ul>
	</nav>
</header>

<style>
	header {
		display: flex;
		justify-content: space-between;
		background: #20df92;
		padding: 10px;
	}

	nav {
		display: flex;
		justify-content: center;
	}
	.corner {
		display: flex;
		align-items: center;
	}

	.corner a {
		display: flex;
		flex-direction: row;
		color: var(--text-white);
	}

	.corner a img {
		width: 40px;
		height: 40px;
		margin-right: 10px;
	}

	ul {
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		list-style: none;
	}

	li {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	nav a {
		display: flex;
		height: 100%;
		align-items: center;
		padding: 0 1em;
		color: var(--heading-color);
		margin: 10px;
		font-weight: 600;
		font-size: 0.8rem;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		text-decoration: none;
		transition: color 0.2s linear;
	}

	a:hover {
		color: var(--text-white);
		text-decoration: none;
	}
</style>
