<script context="module" lang="ts">
	export const prerender = true;
</script>

<script lang="ts">
	import background from '../../../static/hero_taust.png';
	import logo from '../../../static/sl-logo.svg';
</script>

<!-- <section> -->

<img class="background" src={background} alt="SL-logo" />
<div class="hero-page">
	<img class="main-logo" src={logo} alt="SL-logo" />
	<h1>Sinu ettevõtte partner digimaailmas</h1>
	<h2>Aitame astuda veebis järgmiseid samme</h2>
	<div class="cta-block">
		<button class="cta-btn">Võta ühendust</button>
		<button class="cta-btn">Tehtud tööd</button>
	</div>
</div>

<!-- </section> -->
<style>
	.main-logo {
		width: 250px;
	}

	.background {
		position: absolute;
		left: 0;
		top: 0;
		z-index: -99;
		width: 100%;
		height: 100vh;
		object-fit: cover;
		padding: 0;
		margin: 0;
	}

	.hero-page {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		color: var(--text-white);
	}

	.cta-block {
		display: flex;
		flex-direction: row;
		margin: 10px;
	}
</style>
