<script context="module" lang="ts">
	export const prerender = true;
</script>

<script lang="ts">
	import background from '../../../static/hero_taust.png';
</script>

<div class="stakes-section">
	<div class="stakes-container">
		<div class="stakes-box">
			<h3>Esinduslik</h3>
			<h4>Jäta oma ettevõttega tugev esmamulje</h4>
		</div>
		<div class="stakes-box">
			<h3>Murevaba</h3>
			<h4>Keskendu oma ärile</h4>
		</div>
		<div class="stakes-box">
			<h3>Tippkvaliteet</h3>
			<h4>Loodud lahendus on ehitatud kestma</h4>
		</div>
	</div>
</div>

<style>
	.stakes-section {
		display: flex;
		width: 100%;
		justify-content: center;
	}

	.stakes-container {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.stakes-box {
		margin: 2rem;
		display: flex;
		align-items: center;
		flex-direction: column;
	}
</style>
