<script context="module" lang="ts">
	export const prerender = true;
</script>

<script lang="ts">
	import background from '../../../static/hero_taust.png';
</script>

<div class="useful-section">
	<div class="useful-wrapper">
		<div class="useful-heading">
			<h1>Kuidas <span>Sulle</span> kasulikud oleme?</h1>
		</div>
		<div class="useful-container">
			<div class="useful-box">
				<h3>Optimaalse suurusega partner</h3>
				<p>
					Oleme piisavalt väiksed, et olla kiire ja kaasamõtlev, aga piisavalt suured, et olla
					stabiilsed. Minevik on pikad tarneajad ning õhust võetud tähtajad.
				</p>
			</div>
			<div class="useful-box">
				<h3>Pikaaegne kogemus</h3>
				<p>10+ aastat kogemust IT maailmas. Meie teame, mis on parim lahendus Sinule.</p>
			</div>
			<div class="useful-box">
				<h3>Täisteenus</h3>
				<p>
					Meil asub kõik ühe katuse all. Analüüs, disain, projektijuhtimine ja arendamine. Kiire ja
					korralik suhtlus iga sammu juures.
				</p>
			</div>
		</div>
	</div>
</div>

<style>
	.useful-section {
		display: flex;
		width: 100%;
		height: 200vh;
		justify-content: center;
	}
	.useful-container {
		display: flex;
		width: 100%;
		justify-content: center;
	}

	.useful-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	.useful-box {
		margin: 2rem;
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	h1 > span {
		color: var(--accent-color);
	}
</style>
