@import '@fontsource/fira-mono';

:root {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	/* font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
	--font-mono: 'Fira Mono', monospace;
	--text-white: #ffffff;
	--card-background: #f9f9f9;
	--accent-color: #d54140;
	--text-black: #000000;
	--divider-color: #c2c2c2;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	--box-shadow: 2px 2px rgba(78, 78, 78, 0.384);
}

body {
	min-height: 100vh;
	margin: 0;
	/* background-color: var(--primary-color);
	background: linear-gradient(
		180deg,
		var(--primary-color) 0%,
		var(--secondary-color) 10.45%,
		var(--tertiary-color) 41.35%
	); */
}

body::before {
	content: '';
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	background: radial-gradient(
		50% 50% at 50% 50%,
		var(--pure-white) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	opacity: 0.05;
	color: var(--text-white);
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2,
p {
	font-weight: 400;
	color: var(--heading-color);
}

p {
	line-height: 1.5;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}
.cta-btn {
	background: var(--accent-color);
	box-shadow: var(--box-shadow);
	border-radius: 1px;
	border: none;
	color: var(--text-white);
	height: 3rem;
	width: 10rem;
	margin: 10px;
	cursor: pointer;
}
.cta-btn:hover {
	opacity: 0.95;
	color: var(--text-black);
}
.cta-btn:active {
	transition: cubic-bezier(0.075, 0.82, 0.165, 1);
	opacity: 0.9;
	box-shadow: none;
}
.cta-btn.cta-nav {
}
@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}
