<script context="module" lang="ts">
	export const prerender = true;
</script>

<script lang="ts">
</script>

<div class="divider" />

<style>
	.divider {
		height: 2px;
		background: var(--divider-color);
		width: 60vw;
	}
</style>
